{% extends 'base.html' %}

{% block content %}
{% load static %}

<!--  HERO SECTION  !-->
<div class="section" style="box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.5);">
  <div class="underNavSpace"></div>
  <br>
  <p class="midHeader">About Us</p>
  <br>
  <p>FirePoint Scotland Limited is one of Scotland’s leading independent fire protection companies, offering a wide range of products and services to meet today's stringent fire protection
requirements.

The Company was originally formed in 1987 and operates from its base in Larkhall. Primarily covering the whole of Scotland and the North of England, but we do cover the entire UK  to meet the needs of National Company’s when required.</p>
  <br>
  <div class="industryLogos">
  <img class="industryLogo" src="{% static 'images/ISO.png' %}" height="100px;">
  <img class="industryLogo" src="{% static 'images/BAFE.png' %}" height="100px;">
  <img class="industryLogo" src="{% static 'images/FIA.png' %}" height="100px;" >
  <img class="industryLogo" src="{% static 'images/constructionOnline.jpeg' %}" height="100px;">
  <img class="industryLogo" src="{% static 'images/CHAS.png' %}" height="100px;">
  </div>

  <br>
  <p>We are dedicated to a commitment to Total Quality Management and is backed up by our ISO 9001 registration helping to ensure that your service is completed on a 'right first time' basis, every time.

We  offer a complete solution to fire safety.  With one company looking after all of your fire needs, we can work with you to ensure a risk assessment led process to provide you with optimum fire safety, with no gaps, or overlaps.  When considering your fire safety strategy, you should aim to prevent fire, detect fire, contain fire and have plans to escape fire. </p>
  <br><br><br>
</div>

<div class="section darkSection"  style="margin-top:30px;background: linear-gradient(to bottom, #505050 0%, #1a1a1a 100%);">
  <p class="midHeader">Why Choose Us?</p>
  <br>
  <p>At FirePoint, we're not just about providing fire safety equipment; we're about delivering peace of mind. Our commitment to excellence is evident in every product and service we offer, from advanced fire extinguishers to comprehensive smoke detection systems. With over a decade of expertise in the fire safety industry, our team is dedicated to ensuring your premises are equipped with the most reliable and effective safety solutions available. Why choose us? Because we prioritise your safety, offering personalised service, unparalleled expertise, and the highest quality products. At FirePoint Ltd, protecting what matters most to you is our top priority.</p>
  <br>
  <p><b>Be Safe with BAFE</b></p>
  <br>
  <p>Established in 1984, BAFE is the independent organisation dedicated to improving standards in fire protection. BAFE is the not for profit, registration body for Companies who achieve third party certification for their fire protection services. Companies who are registered to BAFE schemes demonstrate a commitment to service excellence.
  </p>
  <br>
  <img src="{% static 'images/BAFE.png' %}" height="200px;" alt="">
  <br><br>
  <p>D & G FIRE PROTECTION LIMITED was the first and is still one of the few fire protection Companies based in the SOUTH of SCOTLAND  to hold BAFE Registration scheme SP101/ST104 giving us the BAFE Registered Technician status and allowing us to display the prestigious BAFE Logo.
  </p>
  <br><br>
</div>











{% endblock %}
